
/**
 * base/fonts-loader.scss
 * 
 * Fonts loader
 */


// TITLES

@font-face {

	font-family: "AvenirNHeavyCondIt";
	font-style: normal;
	font-weight: 800;
	src: local("AvenirNHeavyCondIt"), url(../fonts/avenirnextproheavycnit.woff) format("woff");

}

@font-face {

	font-family: "SourceSPBlack";
	font-style: normal;
	font-weight: 800;
	src: local("SourceSPBlack"), url(../fonts/sourcesanspro-black.woff) format("woff");

}

@font-face {

	font-family: "SourceSPBlackItalic";
	font-style: normal;
	font-weight: 800;
	src: local("SourceSPBlackItalic"), url(../fonts/sourcesanspro-blackit.woff) format("woff");

}

@font-face {

	font-family: "SourceSPSBoldItalic";
	font-style: normal;
	font-weight: 600;
	src: local("SourceSPSBoldItalic"), url(../fonts/sourcesanspro-semiboldit.woff) format("woff");

}

// PARAGRAPHS

@font-face {

	font-family: "SourceSPRegular";
	font-style: normal;
	font-weight: 400;
	src: local("SourceSPRegular"), url(../fonts/sourcesanspro-regular.woff) format("woff");

}