
/**
 * components/title/title.scss
 * 
 * Title
 */

.title {

	margin: 16px 0 8px 0;

	line-height: 1.4;

	@include font-size(28px);

}

$headings--sizes: (72px, 48px, 48px, 36px, 20px, 18px);

$headings--fonts: ($font-family-name,
				   $font-family-title,
				   $font-family-small-title,
				   $font-family-part-title,
				   $font-family-part-title,
				   $font-family-part-title);

@for $i from 1 through 6 {

	h#{$i}.title {

		font-family: nth($headings--fonts, $i);

		@include font-size(nth($headings--sizes, $i));
		
	}

}


.title--center {

	text-align: center;

}