
/**
 * variables/others.scss
 * 
 * Others
 */


// Fonts

$font-family-paragraph: "SourceSPRegular", sans-serif;
$font-family-title: "SourceSPBlackItalic", sans-serif;
$font-family-small-title: "SourceSPBlack", sans-serif;
$font-family-part-title: "SourceSPSBoldItalic", sans-serif;
$font-family-name: "AvenirNHeavyCondIt", sans-serif;