/**
 * main.scss
 *
 * Main Stylesheet
 */
/* VARIABLES
   ----------------------------- */
/**
 * variables/colors.scss
 * 
 * Colors
 */
/**
 * variables/sizes.scss
 * 
 * Sizes
 */
/**
 * variables/others.scss
 * 
 * Others
 */
/* MIXINS
   ----------------------------- */
/**
 * mixins/animation.scss
 * 
 * Animation
 */
/**
 * mixins/border-radius.scss
 * 
 * Border radius
 */
/**
 * mixins/box-shadow.scss
 * 
 * Box shadow
 */
/**
 * mixins/box-sizing.scss
 * 
 * Box sizing
 */
/**
 * mixins/font-size.scss
 * 
 * Font size
 */
/**
 * mixins/fonts.scss
 * 
 * Fonts
 */
/**
 * mixins/keyframes.scss
 * 
 * Keyframes
 */
/**
 * mixins/medias.scss
 * 
 * Medias queries
 */
/**
 * mixins/opacity.scss
 * 
 * Opacity
 */
/**
 * mixins/outline.scss
 * 
 * Outline
 */
/**
 * mixins/position.scss
 * 
 * Position
 */
/**
 * mixins/prefix.scss
 * 
 * Prefix
 */
/**
 * mixins/transition.scss
 * 
 * Transition
 */
/**
 * mixins/user-select.scss
 * 
 * User select
 */
/**
 * mixins/zdepht.scss
 * 
 * Z depht
 */
/* EXTENDS
   ----------------------------- */
/**
 * extends/background-cover.scss
 * 
 * Background cover
 */
/**
 * extends/center.scss
 * 
 * Center
 */
/**
 * extends/coverer.scss
 * 
 * Coverer
 */
/**
 * extends/preserve-3d.scss
 * 
 * Preserve 3d
 */
/* BASE
   ----------------------------- */
/**
 * base/reset.scss
 * 
 * Reset
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

input:focus, input:active, textarea:focus, textarea:active, button:focus, button:active {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -ms-appearance: textfield;
  -o-appearance: textfield;
  appearance: textfield; }

/**
 * base/fonts-loader.scss
 * 
 * Fonts loader
 */
@font-face {
  font-family: "AvenirNHeavyCondIt";
  font-style: normal;
  font-weight: 800;
  src: local("AvenirNHeavyCondIt"), url(../fonts/avenirnextproheavycnit.woff) format("woff"); }

@font-face {
  font-family: "SourceSPBlack";
  font-style: normal;
  font-weight: 800;
  src: local("SourceSPBlack"), url(../fonts/sourcesanspro-black.woff) format("woff"); }

@font-face {
  font-family: "SourceSPBlackItalic";
  font-style: normal;
  font-weight: 800;
  src: local("SourceSPBlackItalic"), url(../fonts/sourcesanspro-blackit.woff) format("woff"); }

@font-face {
  font-family: "SourceSPSBoldItalic";
  font-style: normal;
  font-weight: 600;
  src: local("SourceSPSBoldItalic"), url(../fonts/sourcesanspro-semiboldit.woff) format("woff"); }

@font-face {
  font-family: "SourceSPRegular";
  font-style: normal;
  font-weight: 400;
  src: local("SourceSPRegular"), url(../fonts/sourcesanspro-regular.woff) format("woff"); }

@font-face {
  font-family: "SourceSPRegularItalic";
  font-style: normal;
  font-weight: 400;
  src: local("SourceSPRegularItalic"), url(../fonts/sourcesanspro-it.woff) format("woff"); }

/**
 * base/body.scss
 * 
 * Body
 */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eaeaea;
  color: #ffffff;
  line-height: 1.3;
  font-family: "SourceSPRegular", sans-serif;
  font-size: 16px;
  font-size: 1rem; }

/**
 * base/layouts.scss
 * 
 * Layouts
 */
.container {
  width: 100%;
  max-width: 992px;
  margin: auto; }

/**
 * base/grid.scss
 * 
 * Grid
 */
.grid {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  display: inline-block;
  margin: 0;
  padding: 0; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

/* COMPONENTS
   ----------------------------- */
/**
 * components/title/title.scss
 * 
 * Title
 */
.title {
  margin: 0 0 10px 0;
  line-height: 1.4;
  text-align: center;
  font-size: 28px;
  font-size: 1.75rem; }

h1.title {
  font-family: "AvenirNHeavyCondIt", sans-serif;
  font-size: 50px;
  font-size: 3.125rem; }

h2.title {
  font-family: "SourceSPBlackItalic", sans-serif;
  font-size: 48px;
  font-size: 3rem; }

h3.title {
  font-family: "SourceSPBlack", sans-serif;
  font-size: 36px;
  font-size: 2.25rem; }

h4.title {
  font-family: "SourceSPSBoldItalic", sans-serif;
  font-size: 36px;
  font-size: 2.25rem; }

h5.title {
  font-family: "SourceSPSBoldItalic", sans-serif;
  font-size: 20px;
  font-size: 1.25rem; }

h6.title {
  font-family: "SourceSPSBoldItalic", sans-serif;
  font-size: 18px;
  font-size: 1.125rem; }

.title--center {
  text-align: center;
  font-family: "SourceSPRegularItalic", sans-serif; }

/**
 * components/color-bar/color-bar.scss
 * 
 * Colored bar
 */
.color-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10px;
  background-color: #2ecc71;
  font-size: 0; }

.color-bar__item {
  display: inline-block;
  height: 100%;
  width: 12.5%; }

.color-bar__item--red {
  background-color: #e74c3c; }

.color-bar__item--dark-red {
  background-color: #c0392b; }

.color-bar__item--pink {
  background-color: #e91e63; }

.color-bar__item--purple {
  background-color: #9b59b6; }

.color-bar__item--dark-purple {
  background-color: #8e44ad; }

.color-bar__item--indigo {
  background-color: #3f51b5; }

.color-bar__item--blue {
  background-color: #3498db; }

.color-bar__item--dark-blue {
  background-color: #2980b9; }

.color-bar__item--cyan {
  background-color: #00bcd4; }

.color-bar__item--teal {
  background-color: #009688; }

.color-bar__item--green {
  background-color: #2ecc71; }

.color-bar__item--dark-green {
  background-color: #27ae60; }

.color-bar__item--lime {
  background-color: #cddc39; }

.color-bar__item--yellow {
  background-color: #f1c40f; }

.color-bar__item--dark-yellow {
  background-color: #f39c12; }

.color-bar__item--amber {
  background-color: #ffc107; }

.color-bar__item--orange {
  background-color: #e67e22; }

.color-bar__item--dark-orange {
  background-color: #d35400; }

.color-bar__item--brown {
  background-color: #795548; }

.color-bar__item--grey {
  background-color: #9e9e9e; }

.color-bar__item--blue-grey {
  background-color: #607d8b; }

.color-bar__item--light-grey {
  background-color: #eaeaea; }

.color-bar__item--dark-grey {
  background-color: #696969; }

/**
 * components/menu/menu_landing_page.scss
 * 
 * Landing page menu
 */
nav.menu.landing_page {
  z-index: 99999;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #ffffff; }

nav.menu.landing_page ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

li.menu_child {
  display: inline-block;
  height: 100%;
  white-space: nowrap;
  color: #ffffff;
  flex-grow: 1;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

li.menu_child--red {
  background-color: #e74c3c; }

li.menu_child--red:hover {
  background-color: #eaeaea;
  color: #e74c3c; }

li.menu_child--dark-red {
  background-color: #c0392b; }

li.menu_child--dark-red:hover {
  background-color: #eaeaea;
  color: #c0392b; }

li.menu_child--pink {
  background-color: #e91e63; }

li.menu_child--pink:hover {
  background-color: #eaeaea;
  color: #e91e63; }

li.menu_child--purple {
  background-color: #9b59b6; }

li.menu_child--purple:hover {
  background-color: #eaeaea;
  color: #9b59b6; }

li.menu_child--dark-purple {
  background-color: #8e44ad; }

li.menu_child--dark-purple:hover {
  background-color: #eaeaea;
  color: #8e44ad; }

li.menu_child--indigo {
  background-color: #3f51b5; }

li.menu_child--indigo:hover {
  background-color: #eaeaea;
  color: #3f51b5; }

li.menu_child--blue {
  background-color: #3498db; }

li.menu_child--blue:hover {
  background-color: #eaeaea;
  color: #3498db; }

li.menu_child--dark-blue {
  background-color: #2980b9; }

li.menu_child--dark-blue:hover {
  background-color: #eaeaea;
  color: #2980b9; }

li.menu_child--cyan {
  background-color: #00bcd4; }

li.menu_child--cyan:hover {
  background-color: #eaeaea;
  color: #00bcd4; }

li.menu_child--teal {
  background-color: #009688; }

li.menu_child--teal:hover {
  background-color: #eaeaea;
  color: #009688; }

li.menu_child--green {
  background-color: #2ecc71; }

li.menu_child--green:hover {
  background-color: #eaeaea;
  color: #2ecc71; }

li.menu_child--dark-green {
  background-color: #27ae60; }

li.menu_child--dark-green:hover {
  background-color: #eaeaea;
  color: #27ae60; }

li.menu_child--lime {
  background-color: #cddc39; }

li.menu_child--lime:hover {
  background-color: #eaeaea;
  color: #cddc39; }

li.menu_child--yellow {
  background-color: #f1c40f; }

li.menu_child--yellow:hover {
  background-color: #eaeaea;
  color: #f1c40f; }

li.menu_child--dark-yellow {
  background-color: #f39c12; }

li.menu_child--dark-yellow:hover {
  background-color: #eaeaea;
  color: #f39c12; }

li.menu_child--amber {
  background-color: #ffc107; }

li.menu_child--amber:hover {
  background-color: #eaeaea;
  color: #ffc107; }

li.menu_child--orange {
  background-color: #e67e22; }

li.menu_child--orange:hover {
  background-color: #eaeaea;
  color: #e67e22; }

li.menu_child--dark-orange {
  background-color: #d35400; }

li.menu_child--dark-orange:hover {
  background-color: #eaeaea;
  color: #d35400; }

li.menu_child--brown {
  background-color: #795548; }

li.menu_child--brown:hover {
  background-color: #eaeaea;
  color: #795548; }

li.menu_child--grey {
  background-color: #9e9e9e; }

li.menu_child--grey:hover {
  background-color: #eaeaea;
  color: #9e9e9e; }

li.menu_child--blue-grey {
  background-color: #607d8b; }

li.menu_child--blue-grey:hover {
  background-color: #eaeaea;
  color: #607d8b; }

li.menu_child--light-grey {
  background-color: #eaeaea; }

li.menu_child--light-grey:hover {
  background-color: #eaeaea;
  color: #eaeaea; }

li.menu_child--dark-grey {
  background-color: #696969; }

li.menu_child--dark-grey:hover {
  background-color: #eaeaea;
  color: #696969; }

nav.menu.landing_page ul li.logo {
  display: none; }

a.menu.a:active, a.menu.a:visited, a.menu.a:link {
  font-size: 1.5em;
  line-height: 70px;
  height: 100%;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "SourceSPRegular", sans-serif;
  display: block;
  color: inherit; }

/**
 * components/sections/section.scss
 * 
 * section
 */
section.section {
  padding: 20px 0 20px 0; }

section .contener {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }

section .card {
  width: 25%;
  max-width: 350px;
  margin: 10px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-flex: 1 auto;
  -moz-box-flex: 1 auto;
  -webkit-flex: 1 auto;
  -ms-flex: 1 auto;
  flex: 1 auto; }

.section--red {
  background-color: #e74c3c; }

section .card--red {
  background-color: #e74c3c; }

.section--dark-red {
  background-color: #c0392b; }

section .card--dark-red {
  background-color: #c0392b; }

.section--pink {
  background-color: #e91e63; }

section .card--pink {
  background-color: #e91e63; }

.section--purple {
  background-color: #9b59b6; }

section .card--purple {
  background-color: #9b59b6; }

.section--dark-purple {
  background-color: #8e44ad; }

section .card--dark-purple {
  background-color: #8e44ad; }

.section--indigo {
  background-color: #3f51b5; }

section .card--indigo {
  background-color: #3f51b5; }

.section--blue {
  background-color: #3498db; }

section .card--blue {
  background-color: #3498db; }

.section--dark-blue {
  background-color: #2980b9; }

section .card--dark-blue {
  background-color: #2980b9; }

.section--cyan {
  background-color: #00bcd4; }

section .card--cyan {
  background-color: #00bcd4; }

.section--teal {
  background-color: #009688; }

section .card--teal {
  background-color: #009688; }

.section--green {
  background-color: #2ecc71; }

section .card--green {
  background-color: #2ecc71; }

.section--dark-green {
  background-color: #27ae60; }

section .card--dark-green {
  background-color: #27ae60; }

.section--lime {
  background-color: #cddc39; }

section .card--lime {
  background-color: #cddc39; }

.section--yellow {
  background-color: #f1c40f; }

section .card--yellow {
  background-color: #f1c40f; }

.section--dark-yellow {
  background-color: #f39c12; }

section .card--dark-yellow {
  background-color: #f39c12; }

.section--amber {
  background-color: #ffc107; }

section .card--amber {
  background-color: #ffc107; }

.section--orange {
  background-color: #e67e22; }

section .card--orange {
  background-color: #e67e22; }

.section--dark-orange {
  background-color: #d35400; }

section .card--dark-orange {
  background-color: #d35400; }

.section--brown {
  background-color: #795548; }

section .card--brown {
  background-color: #795548; }

.section--grey {
  background-color: #9e9e9e; }

section .card--grey {
  background-color: #9e9e9e; }

.section--blue-grey {
  background-color: #607d8b; }

section .card--blue-grey {
  background-color: #607d8b; }

.section--light-grey {
  background-color: #eaeaea; }

section .card--light-grey {
  background-color: #eaeaea; }

.section--dark-grey {
  background-color: #696969; }

section .card--dark-grey {
  background-color: #696969; }

section .card h3 {
  margin: 0 0 10px 0; }

a.card.link:visited, a.card.link:active, a.card.link:link {
  position: relative;
  left: 0;
  right: 0;
  width: auto;
  margin: 10px 0 0 0;
  display: block;
  text-align: center;
  font-family: "SourceSPBlack", sans-serif;
  text-decoration: none;
  color: #ffffff; }

/**
 * components/sections/main.scss
 * 
 * Main section
 */
section#main {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #eaeaea; }

div.main.intro {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60%;
  width: 100%;
  margin: auto;
  text-align: center; }

img.main.logo {
  height: 80%;
  width: auto;
  margin: auto;
  padding: 0;
  animation-name: logorotate;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
  animation-delay: 0;
  animation-play-state: running;
  animation-fill-mode: forwards; }

@keyframes logorotate {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(360deg); } }

h1.main.title {
  height: 4.5rem;
  width: auto;
  margin: auto;
  padding: 0;
  display: block;
  color: #272727; }

p.main.paragraph {
  color: #777777;
  font-size: 25px;
  font-family: "SourceSPRegularItalic", sans-serif; }

/**
 * components/sections/contact.scss
 * 
 * contact section
 */
section#contact {
  position: relative;
  height: auto;
  width: 100%;
  padding: 20px 0 20px 0;
  background-color: #9b59b6; }
