
/**
 * components/card/people.scss
 * 
 * People card
 */

.card--people {

	width: 200px;
	height: 270px;
	padding: 0;

	@include flex(0 auto);

}

.card--people img {

	width: 200px;
	height: 200px;

	background-color: #272727;

	@include border-radius(5px 5px 0 0);

}