
/**
 * components/menu/menu_landing_page.scss
 * 
 * Landing page menu
 */

nav.menu.landing_page {

	z-index: 99999;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 70px;

	background-color: #ffffff;

}

nav.menu.landing_page ul {

	margin: 0;
	padding: 0;

	list-style: none;
	text-align: center;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

}

li.menu_child {

	display: inline-block;
	height: 100%;

	white-space: nowrap;

	color: #ffffff;

	flex-grow: 1;

	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;

}

@each $array in $colors {

	$_color-name: nth($array, 1);
	$_color-value: nth($array, 2);

	li.menu_child--#{$_color-name} {
	
		background-color: $_color-value;

	}

	li.menu_child--#{$_color-name}:hover {
		
		background-color: #eaeaea;
		color: $_color-value;

	}

}

nav.menu.landing_page ul li.logo {

	display: none;

}

a.menu.a:active, a.menu.a:visited, a.menu.a:link {

	font-size: 1.5em;
	line-height: 70px;
	height: 100%;
	width: 100%;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $font-family-paragraph;

	display: block;

	color: inherit

}