
/**
 * components/sections/section.scss
 * 
 * section
 */

section.section {
	
	padding: 20px 0 20px 0;

}

section .contener {
	
	width: 80%;
	margin: auto;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	justify-content: space-around;

}

section .card {

	width: 25%;
	max-width: 350px;
	margin: 10px;
	padding: 10px 20px 10px 20px;

	text-align: center;

	border-radius: 5px;
	
	-webkit-box-flex: 1 auto;
	-moz-box-flex: 1 auto;
	-webkit-flex: 1 auto;
	-ms-flex: 1 auto;
	flex: 1 auto;

}

@each $array in $colors {

	$_color-name: nth($array, 1);
	$_color-value: nth($array, 2);

	.section--#{$_color-name} {
	
		background-color: $_color-value;

	}

	section .card--#{$_color-name} {
	
		background-color: $_color-value;

	}

}

section .card h3 {

	margin: 0 0 10px 0;

}

a.card.link:visited, a.card.link:active, a.card.link:link {
	
	position: relative;
	left: 0;
	right: 0;
	width: auto;
	margin: 10px 0 0 0;

	display: block;
	text-align: center;
	font-family: $font-family-small-title;
	text-decoration: none;
	color: #ffffff;

}