
/**
 * components/sections/section.scss
 * 
 * section
 */

.section {
	
	padding: 20px 0 20px 0;

	text-align: center;

}

@each $array in $colors {

	$_color-name: nth($array, 1);
	$_color-value: nth($array, 2);

	.section--#{$_color-name} {
	
		background-color: $_color-value;

	}

}

.section__container {
	
	width: 80%;
	margin: auto;

	@include flexbox;
	@include flex-flow;

	@include prefix(justify-content, space-around);

}

.section__paragraph {
	
	margin: 50px 0;

}